body {
  background: black;
  color: white;
  max-width: 960px;
  margin: 0 auto;
  nota: property;
  background: green;
  background: blue;
  background: blue;
  background: blue;
  background: blue;
  background: blue;
  background: blue;
  background: blue;
  background: blue;
}
